*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 10%;
}

p{
  font-size: 20px;
}

/* header */

.head-container {
  width: 100%;
  min-height: 750px;
  background-color: rgb(255 236 230);
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

/* FIXBAR */

.fixbar{
  width: 100%;
  height: 50px;
  background-color: rgb(232 246 255);
  position: fixed;
  top: 0;
  border-bottom: 2px solid black;

  }

.floatfixbar::after {
  content: "";
  display: table;
  clear: both;
  height:50px;
  width: 100%;

}

.fixbar-left {
  float: left;
  width: 50%;

}


.fixbar-right {
  float: right;
  width: 50%;
  text-align: right;
}


.floatfixbar .fixbar-left li {
  height: 100%;
  display: inline-block;
  padding: 15px 20px 15px 0;


}

.floatfixbar .fixbar-right li{
  height:100%;
  display: inline-block;
  padding:  15px 0px 15px 20px;     /*da verificare, non va messo il margine a destra dell'ultimo elemento*/
}

.lente {
  color: rgb(127, 200, 245);
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar-container {
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 50px;
}

.floatnavbar::after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: 50px;
}

.navbar-left {
  width: 50%;
  float: left;
}

.navbar-right {
  width: 50%;
  float: left;
  text-align: right;

}

.navbar-right-items li {
  display: inline-block;
  padding-top: 12px; /*da sistemare*/
  padding-left: 20px;
}

.logonavbar {
  padding-top: 10px;
}



/* JUMBOTRON */

.centraturatestojumbo {
padding-right: 50%;
padding-top: 50px;
}

.jumboelement1 {
  font-size: 52px;
  padding: 10px 10px 20px 0;
}

.jumboelement2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.jumboGetHubspotFree {
  width: 145px;
  height: 55px;
  background-color:#ff801f;
  padding: 20px;
  border-radius: 5px;
}

.jumboGetHubspotFree a{
  color: white;

}

.jumboelement3 {
  font-size: 10px;
  padding-top:20px;
}


/* SEZIONE1 */

.sezione1 {
  width: 100%;
  /*height:500px; /*debug*/
  background-color: rgb(232 246 255);
}

/*SEZIONE TOP*/

.sezione1-top{
  text-align: center;
  margin-bottom: 70px;
}

.cube {
  width: 250px;
  height: auto;
  padding: 40px 0 10px 0;
}

.powerfull {
  padding-bottom: 20px;
}

/*SEZIONE MID*/

.sezione1-mid::after{
  content: "";
  display: table;
  clear: both;
  width: 100%;
  /*height: 200PX; /*debug*/

}

.colonna1-mid {
  float: left;
  width: 20%;
  background-color: white;
  padding: 30px;
  text-align: center;
}

.LearnMore {
  background-color:#ff801f;
  width: 40px;
  height: 35px;
  margin-top: 20px;
}
