*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 10%;
}

p{
  font-size: 17px;
}

/* header */

.head-container {
  width: 100%;
  min-height: 750px;
  background-color: rgb(255 236 230);
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

/* FIXBAR */

.fixbar{
  width: 100%;
  height: 50px;
  background-color: rgb(232 246 255);
  position: fixed;
  top: 0;
  border-bottom: 2px solid black;

  }

.floatfixbar::after {
  content: "";
  display: table;
  clear: both;
  height:50px;
  width: 100%;

}

.fixbar-left {
  float: left;
  width: 50%;

}


.fixbar-right {
  float: right;
  width: 50%;
  text-align: right;
}


.floatfixbar .fixbar-left li {
  height: 100%;
  display: inline-block;
  padding: 15px 20px 15px 0;


}

.floatfixbar .fixbar-right li{
  height:100%;
  display: inline-block;
  padding:  15px 0px 15px 20px;     /*da verificare, non va messo il margine a destra dell'ultimo elemento*/
}

.lente {
  color: rgb(127, 200, 245);
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar-container {
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 50px;
}

.floatnavbar::after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: 50px;
}

.navbar-left {
  width: 50%;
  float: left;
}

.navbar-right {
  width: 50%;
  float: left;
  text-align: right;

}

.navbar-right-items li {
  display: inline-block;
  padding-top: 12px; /*da sistemare*/
  padding-left: 20px;
}

.logonavbar {
  padding-top: 10px;
}



/* JUMBOTRON */

.centraturatestojumbo {
padding-right: 50%;
padding-top: 50px;
}

.jumboelement1 {
  font-size: 52px;
  padding: 10px 10px 20px 0;
}

.jumboelement2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.jumboGetHubspotFree {
  /* width: 145px;
  height: 55px; */
  background-color:#ff801f;
  padding: 20px;
  border-radius: 5px;
}

.jumboGetHubspotFree a{
  color: white;

}

.jumboelement3 {
  font-size: 10px;
  padding-top:20px;
}


/* SEZIONE1 */

.sezione1 {
  width: 100%;
  /*height:500px; /*debug*/
  background-color: rgb(232 246 255);
}

/*SEZIONE TOP*/

.sezione1-top{
  text-align: center;
  margin-bottom: 70px;
}

.cube {
  width: 250px;
  height: auto;
  padding: 40px 0 10px 0;
  margin-top: 10px;
}

.powerfull {
  padding-bottom: 20px;
}

/*SEZIONE MID*/

.sezione1-mid::after{
  content: "";
  display: table;
  clear: both;
  width: 100%;
  /*height: 200PX; /*debug*/

}

.colonna1-mid {
  float: left;
  width: 30%;
  background-color: white;
  padding: 30px;
  text-align: center;
  min-height: 400px;
}

.LearnMore {
  text-align: center;
  background-color:#ff801f;
  /* width: 110px;
  height: 35px; */
  padding: 10px;
  margin-top: 35px */
  border-radius: 5px;
  display: block;

}

.colonna2-mid {
  float: left;
  background-color: white;
  width: 70%;
  padding-left: 20px;
  min-height: 400px;

}
/* colonna destra mid  */

.titlecrm {
  padding: 50px 0 20px 0;
}

.parcrm {
  padding-right: 30%;
}

.titlefeature,.hrpopolarfeature {
  display: inline-block;
}

.titlefeature {
  padding: 30px 0;
  width: 30%;
  /* display: inline-block; */
}

.hrpopolarfeature {
  width: 50%;
  /* display: inline-block; */
}

.listacrm li {
  display:inline-block;
  padding-top: 30px;
  /* padding-right: 20px; */
}


.listacrm li:nth-child(even) {
  padding-right: 20px;
}

.listacrm li:nth-child(odd) {
  color: orange;
}

/* sezione 1 bot  tre colonne*/


.centratura2 {
  padding: 0 5%;

}
.sezione1-bot {
  content: "";
  display:table;
  clear: both;
  min-height: 600px;
  margin-top: 60px;
  padding-bottom: 40px;
}

.colonna1-1-bot {
  float: left;
  width: 30%;
  background-color: white;
  text-align: center;
  min-height: 600px;

}

.colonna1-1-bot >* {
  margin-top: 20px ;

}

.colonna1-2-bot {
  float: left;
  width: 30%;
  background-color: white;
  margin: 0 5%;
  text-align: center;
  min-height: 600px;

}

.colonna1-2-bot >*{
  margin-top: 20px ;
}

.colonna1-3-bot {
  float: left;
  width: 30%;
  background-color: white;
  text-align: center;
  min-height: 600px;
}
.colonna1-3-bot >*{
  margin-top: 20px ;
}

.marketing,.sales,.service {
  width: 200px;
  height: auto;
  margin-top: 30px;
  /* padding: 40px 0 10px 0;
  margin-top: 10px; */

}

.listamarketing, .listasales, .listaservice {
  text-align: left;
}

.uno li {
  display: inline-block;
}
.uno i {
  color: orange;
}

.due li {
  display: inline-block;
}
.due i {
  color: orange;
}

.tre li {
  display: inline-block;
}
.tre i {
  color: orange;
}


/*sezione2*/

.sezione2 {
  width: 100%;
  /* height: 600px;   */
  background-color: rgba(2, 163, 150);
  color: white;
}

.sezione2-top, h2, p{
  text-align: center;
  padding-top: 35px;
}

.sezione2-part1 {
  content: "";
  display:table;
  clear: both;
  width: 100%;
  /* min-height: 300px; */
  margin-top: 60px;
  /* padding-bottom: 40px; */
}

.elementotab1, .elementotab2, .elementotab3, .elementotab4 {
  float: left;
  width: 25%;
  /* height: 150px; */
  text-align: center;
  border-bottom: solid 2px white;
  padding: 80px;
}

.elementotab2 {
  border-left: solid 2px white;
  border-right: solid 2px white;

}

.elementotab3 {
  border-right: solid 2px white;
}

/* seconda metà della tabella */

.sezione2-part2 {
  content: "";
  display:table;
  clear: both;
  width: 100%;
  /* min-height: 300px; */
  /* margin-top: 60px; */
  /* padding-bottom: 40px; */
}

.elementotab5, .elementotab6, .elementotab7, .elementotab8 {
  float: left;
  width: 25%;
  /* height: 150px; */
  text-align: center;
  /* border-top: solid 2px white; */
  padding: 80px;
  margin-bottom: 100px;
}

.elementotab6 {
  border-left: solid 2px white;
  border-right: solid 2px white;

}

.elementotab7 {
  border-right: solid 2px white;
}

/*sezione3*/

.sezione3-container {
  width: 100%;
  min-height: 600px;
  background-color:white;


}

.sezione3-top {
  content: "";
  display:table;
  clear: both;
  width: 100%;
  /* min-height: 300px; */
  margin-top: 60px;
  /* padding-bottom: 40px; */
}

.sezione3left {
  float: left;
  width: 30%;
  text-align: center;
  padding: 50px;
  margin-left: 50px;

}

.n64500 {
  font-size: 50px;
}

.sezione3right{
  float: left;
  width: 60%;
}
/* da centrare le immagini */
.sezione3right-top img {
  display: inline-block;
  width: 15%;
  height: auto;
  margin-right: 40px;
  margin-top: 35px;



}

.sezione3right-bot img {
  display: inline-block;
  width: 15%;
  height: auto;
  margin-right: 40px;

}

.sezione3-bot {
  content: "";
  display:table;
  clear: both;
  width: 100%;
  /* min-height: 500px; */
  margin-top: 60px;
  /* padding-bottom: 40px; */
}

.sezione3-bot-left {
  float: left;
  width: 30%;


}

.sezione3-bot-right {
  float: left;
  width: 70%;
}

.sezione3-bot-right img {
  float: left;
  width: 40%;
  height: auto;
  padding-left: 50px;
  margin-left: 350px;
}

/* FOOTER */

.footer-container {
  width: 100%;
  height: 600px;
  background-color:rgb(22, 56, 49);
}

.footertab {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  min-height: 300px;
  color: white;
}

.footercolonna1 {
  float: left;
  width: 25%;
  margin-top: 20px;

}

.footercolonna1  li a {
  color: white;

}

.footercolonna1 ul {
  list-style-type: none;
}

.footercolonna1 li{
  margin-top: 5px;
}

.footercolonna2 {
  float: left;
  width: 25%;
  margin-top: 20px;

}

.footercolonna2  li a {
  color: white;

}

.footercolonna2 ul {
  list-style-type: none;
}

.footercolonna2 li{
  margin-top: 5px;
}

.footercolonna3 {
  float: left;
  width: 25%;
  margin-top: 20px;

}

.footercolonna3  li a {
  color: white;

}

.footercolonna3 ul {
  list-style-type: none;
}

.footercolonna3 li{
  margin-top: 5px;
}

.footercolonna4 {
  float: left;
  width: 25%;
  margin-top: 20px;

}

.footercolonna4  li a {
  color: white;

}

.footercolonna4 ul {
  list-style-type: none;
}

.footercolonna4 li{
  margin-top: 5px;
}

.icons a i{
  color: white;
  margin-top: 10px;
  padding: 5px;

}

.hubsupport {
  padding-left: 10px;
  background-color: orange;

}
/* .hubsupport li {
  padding: 20px;
  min-width: 30px;
  min-height: 20px;
   */
}
